body {
    font-family: monospace;
    background-color: #1a1a2e; 
    color: #eaeaea;
}

.hatter {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(0, 255, 200, 0.4);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(34, 156, 226, 0.264);
}

.leiras_hatter {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 200, 0.25);
    border-radius: 10px;
}

.body_light {
    background-color: #9a9adb; 
    color: #251f41;
}

.hatter_light {
    background-color: rgba(255, 255, 255, 0.928);
    border: 1px solid rgba(222, 237, 234, 0.4);
    box-shadow: 10px 5px 5px rgba(208, 216, 221, 0.987);
}

.leiras_hatter_light {
    background-color: rgb(235, 234, 234);
    border: 1px solid rgba(223, 232, 230, 0.903);
}