body {
    font-family: monospace;
    background-color: #1a1a2e; 
    color: #eaeaea;
}

.hatter {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(0, 255, 200, 0.4);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(34, 156, 226, 0.264);
}

.leiras_hatter {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 200, 0.25);
    border-radius: 10px;
}

.body_light {

}

.hatter_light {

}

.leiras_hatter_light {

}